<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uci.asleepawake"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="10"
          android:targetSdkVersion="10"
          android:maxSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.uci.asleepawake.MainActivity"
			android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.uci.asleepawake.DisplayMessageActivity"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_display_message" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.Settings"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.Login"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.Form"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_form" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.Sleepiness"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_sleepiness" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.SleepinessGeneral"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_sleepiness_general" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.Relationship"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_relationship" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.FeelRightNow"
			android:screenOrientation="portrait"
            android:label="@string/title_activity_feel_right_now" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.SurveyAlarmReceiverActivity"
            android:label="@string/title_activity_wake_alarm_receiver"
			android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.SleepAlarmReceiverActivity"
            android:label="@string/title_activity_sleep_alarm_receiver"
			android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="edu.uci.asleepawake.WakeAlarmReceiverActivity"
            android:label="@string/title_activity_wake_alarm_receiver"
			android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

</manifest>